<a href="https://colab.research.google.com/github/nithimalu613-blip/Advanced-PYTHON/blob/main/day_3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def multiply(a, b):
    return a * b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result = multiply(9,6)

print("Multiplication result:", result)

Enter first number: 9
Enter second number: 6
Multiplication result: 54

In [3]:
def multiply(a, b):
    print(a * b)
multiply(10, 5)

50

In [7]:
def send_gift(recipent,gift):
 print(f"sending{gift}to{recipent}!")
send_gift("sobhu","a dress")

sendinga dresstosobhu!

In [9]:
def send_gift(recipent,gift):
  print(f"sending {gift} to {recipent}!")
send_gift(gift="dress",recipent="sobhu")

sending dress to sobhu!

In [10]:
def send_gift(recipent,gift="a chocolate box"):
  print(f"sending {gift} to {recipent}!")
send_gift(recipent="sobhu")

sending a chocolate box to sobhu!

In [16]:
def book_trip(transport,destination):  #keyword
  print(f"booking {transport} to {destination}")
book_trip(destination="paris",transport="flight")

booking flight to paris

In [15]:
def book_trip(destination,transport):  #position
  print(f"booking {transport} to {destination}")
book_trip("london","train")

booking train to london

In [23]:
def booking_trip(transport,destination="America"):  #default
  print(f"booking {transport} to {destination}")
booking_trip("flight")

booking flight to America

In [29]:
def booking_trip(destination,transport="plane"):
  print(f"booking {transport} to {destination}")
booking_trip("America","plane")

booking plane to America

In [32]:
def booking_trip(*destination,transport="plane"):   #arbitary
  print(f"booking {transport} to {destination}!")
booking_trip("America",transport="plane")

booking plane to ('America',)!

In [34]:
def add_numbers(a,b):
  print(a+b)
result=add_numbers(5,5)

10

In [35]:
def add_numbers(a,b):
  return(a+b)
result=add_numbers(5,5)

In [39]:
def add_ten(number):
    return number + 10
my_result = add_ten(5)
final_answer = my_result * 2
print(f"the final answer is {final_answer}")

the final answer is 30

In [41]:
def my_local_function():  #local
    x = 3
    print(x*10)
my_local_function()

30

In [2]:
def square(x):
  sq = x*x
  return sq
square(5)

25

In [1]:
square = lambda x:x*x
square(5)

25

In [3]:
addition = lambda x,y : x+y
addition(10,20)

30

In [4]:
is_pass = lambda marks:"pass"if marks>40 else"false"
is_pass(55)

'pass'

In [6]:
def square(x):
  sq = x*x
  return sq
numbers = [1,2,3,4,5]
squares = map(square,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [10]:
square = lambda x:x*x
numbers = [1,2,3,4,5]
squares = map(square,numbers)
print(list(squares))

[1, 4, 9, 16, 25]

In [11]:
list_a = [1,2,3]
list_b = [6,7,8]
sum_lists = list(map(lambda x,y:x+y,list_a,list_b))
sum_lists

[7, 9, 11]

In [12]:
numbers = [10, -5, 3, -2, 0, 8, -1]
positive_numbers = list(filter(lambda x: x >= 0, numbers))
print(positive_numbers)

[10, 3, 0, 8]